<!DOCTYPE html>
<html>

<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">

<div id="top" class="container-fluid">
  <h1 style="color: black" class="text-left"><b>Silver Bowen</b></h1>
  <h2><img src="http://i1064.photobucket.com/albums/u380/silverbowen/image_zpslthjdilq.jpeg" border="0" class="smaller-image img-responsive thick-black-border"></h2>
  <h2 style="color: white" class="text-right"><i>Links to places</i></h2>
  <div class="row">
    <div class="col-xs-3">
      <a href="https://www.linkedin.com/in/silver-bowen-b4a25a51" target="_blank">
        <button class="btn-responsive btn-block btn-primary" id="target1">LinkedIn</button></a>
    </div>
    <div class="col-xs-3">
      <a href="https://github.com/silverbowen" target="_blank">
        <button class="btn-responsive btn-block btn-primary" id="target2">Github</button></a>
    </div>
    <div class="col-xs-3">
      <a href="https://www.freecodecamp.com/silverbowen" target="_blank">
        <button class="btn-responsive btn-block btn-primary" id="target3">freeCodeCamp</button></a>
    </div>
    <div class="col-xs-3">
      <a href="https://twitter.com/SilverBowen" target="_blank"><button class="btn-responsive btn-block btn-primary">Twitter</button></a>
    </div>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <p class="text-center lead">Actively seeking a Software Developer I role.</p>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <p class="text-center">Object Oriented Design Patterns / Test Driven Development / Unit Testing / Debugging and Documentation / Business Logic & Database Design / Product Management – Waterfall and Agile / Scrum / Network+ / Database Management / Linux System Administration
        / Software Version & Source Control
      </p>
    </div>
  </div>
  <footer class="text-center">
    <hr>
    <p>Written and coded by <a href="https://www.freecodecamp.com/silverbowen" target="_blank">Silver Bowen</a>.</p>
  </footer>
  <div>
    <a href="#top"><button class="btn-block">Go to top</button></a>
  </div>
</div>

</html>
