body {
  padding-top: 60px;
  padding-bottom: 60px;
  background: url(http://i1064.photobucket.com/albums/u380/silverbowen/image4_zpsmju9o9u3.jpg);
  background-size: cover;
}

p {
  background-color: lightgray;
}

.smaller-image {
  width: 200px;
}

.thick-black-border {
  border-color: black;
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;
}


